.topbar-profile-photo{
    width: 1.5em;
    height: 1.5em;
    position: relative;
}

.link-menu{
    color: black;
}

.story-profile-photo{
    width: 56px;
    height: 56px;
    position: relative;
    border-width: 2px !important;
}

.card-header{
    padding: 0;
    background-color: white;
    border: none;
}